body {
    font-family: 'Cabin Sketch', cursive;
    background: -webkit-radial-gradient(circle, #fff, #FFFF99); /* Safari */
    background: -o-radial-gradient(circle, #fff, #FFFF99); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #fff, #FFFF99); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, #fff, #FFFF99); /* Standard syntax */
}

.wrapper {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
}

.ucpic {
    margin-top: 25px;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 40px;
    color: #00f;
    text-shadow: 1px 1px 5px #222;
}

.text h3{
    /*background: url("plank.jpg");
    border: 5px ridge #946D4C;*/
    width: 375px;
    height: 60px;
    margin: 5px auto;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
}

.social-icons {
    font-family: 'Cabin Sketch', cursive;
    color: #333;
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
    -moz-animation-duration: 2s;
    -moz-animation-delay: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
}

.social-icons h4 {
    margin: 5px auto;
    text-shadow: 1px 1px 5px #222;
}

.social-icons img {
    margin-left: 5px;
    margin-right: 5px;
}

.animated {
    /*-webkit-animation-duration: 1s;
    animation-duration: 1s;*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}