.main-footer,
.nav, .main-footer .container {
	font-family: "Lato";
}

.main-footer {
	padding-top: 2em;
	background: $background url("../../images/starrysky.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	overflow: auto;
}
.contactinfo {
	float: left;
}
.socialicons {
	display: inline-flex;
	float: right;
	li {
		list-style: none;
	}
	.fa {
		color: $base-font;
		margin-right: .5em;
    	font-size: 2.5em;	
	}
}