.main-header,
.nav, .main-header .container {
	display: flex;
	flex-direction: column;
}

.main-header {
	/*padding-top: 2em;*/
	background: $background url("../../images/starrysky.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.site-logo {
	align-self: center;
	img {
		padding-top: .6em;
		width: 300px;
	}
}

.nav {
	margin-top: 1.5em;
	li {
		list-style: none;
	}
	a {
	display: block;
	text-decoration: none;
	color: $base-font;
	font-size: 1.75em;
	font-weight: 600;
	text-align: center;
	padding: .6em;
	font-family: 'Lato';
	border-bottom: 1px solid #ebecec;
		&:hover {
		color: #FFF;
		border-bottom-color: $red;
		}
	}
}

/* --------------------------
  Media Queries
--------------------------- */

@media (min-width: 769px) {
	.main-header {
		justify-content: flex-end;
		border-bottom: 5px solid $red;
	}
	.site-logo {
		/*width: 140px;*/
	}
	.nav {
		margin-top: 3em;
		flex-direction: row;
		justify-content: space-between;
		a {
		border-bottom-color: transparent;
		}
		}
}

@media (min-width: 1025px) {
	.main-header, .main-header .container {
		flex-direction: row;
	}
	.site-logo {
		margin-right: auto;
	}
	.nav {
		
		align-self: center;
		li {
		margin-left: .65em;
		margin-right: .65em;
		} 
		}
}